* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: rgb(255, 255, 255) !important;
  --dark: #222222 !important;
  --dark-70: #3e3e3e70 !important;
  --primary: #fd294e !important;
  --secondary: #3e3e3e !important;
}
.team-name {
  font-weight: lighter;
  font-family: "Great Vibes", "Roboto", Arial, Helvetica, sans-serif !important;
}
.text_primary {
  color: var(--primary);
}
.bg_pattern {
  background-color: var(--dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23fd294e' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E") !important;
  color: var(--white);
}
.bg_dark {
  background: var(--dark);
}
.card_primary {
  background: var(--secondary);
  border-right: 4px solid var(--primary);
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px 0 var(--dark);
}
.section {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}
.left_side {
  flex: 1;
  /* background: var(--dark); */
}

#hero .left_side a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
  background: var(--primary);
  padding: 5px 10px;
  margin: 0 10px;
  box-shadow: 5px 5px 5px 0 var(--dark);
  transition: 0.3s color ease-in-out;
}
#hero .left_side a:hover {
  color: var(--dark);
  transition: 0.3s color ease-in-out;
}
.right_side {
  flex: 1;
}
#hero .right_side {
  background: var(--dark-70);
}
#hero .right_side .card_primary {
  position: absolute;
  bottom: 5%;
  right: 0;
}
.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
}
/* WHAT WE DO */
#wwd .card_primary {
  transform: translate(-100px, 0);
  border-right: none;
  border-left: 5px solid var(--white);
}
#wwd .card_primary:hover {
  border-left: 5px solid var(--primary);
}
/* PROFILE CARD */
.profile_card {
  background: var(--dark);
  box-shadow: 5px 5px 5px 0 var(--dark);
}
.profile_card .d-flex {
  width: 100%;
  justify-content: center;
}
.profile_card .d-flex .social_link {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  color: var(--primary);
  transition: 0.3s all ease-in-out;
}
.profile_card .d-flex .social_link:hover {
  text-decoration: none;
  color: var(--white);
  border-color: var(--white);
  transition: 0.3s all ease-in-out;
}
/* PROFILE CARD END */
/* CONTACT */
#contact .contact_element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#contact .contact_element .right_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: 2rem;
  color: var(--primary);
}
#contact .contact_element .left_contact {
  padding-right: 10px;
  border-right: 1px solid var(--white);
}

.form-group > label {
  top: 38px;
  left: 0px;
  position: relative;
  color: var(--primary);
  padding: 0px 5px 0px 5px;
  font-size: 1.1em;
  transition: 0.2s;
  pointer-events: none;
}

.form-group.label-animate > label {
  top: 18px !important;
  left: 16px !important;
  font-size: 0.9em;
}
.form-group .form-control {
  background: none !important;
  border: none;
  border-radius: 0;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
.form-group .form-control:focus,
.form-group .form-control:active,
.form-group .form-control:-webkit-autofill {
  background: none;
  color: var(--white);
  box-shadow: none;
  border-bottom: 1px solid var(--primary);
  transition: 0.2s all ease-in-out;
}
/* CONTACT END */

/* MOBILE RESPONSIVE */
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .section {
    flex-direction: column;
  }
  .order1 {
    order: 2;
  }
  .order2 {
    order: 1;
  }
  #wwd .card_primary {
    transform: translate(0, 0);
  }
}
/* MOBILE RESPONSIVE END */
